

// Default global colors
$bgGrey: #e8ebf1;
$colortext: #363636;
$colorTextBlue: #3283c1;



// Widths
$minWidth: 320px;
$maxWidth: 1040px;

// Breakpoints

$tablet: 950;
$mobile: 640;

// Fonts
$family: "Gotham Pro", "Arial", "Helvetica", sans-serif;
$familyMed: "Gotham Pro Medium", "Arial", "Helvetica", sans-serif;

//Images
$fonturl : '/dependencies/fonts';
$imgurl : '/dependencies/images';