body {
  margin: 0;
  padding: 0;
  background: #f3f5f8;
  text-align: center;
  font-family: $family;
  .best_price{
    background-image: linear-gradient(to right, #3283c1 31.2%, #e2ecf6 31.2%);

  }
}

